<!DOCTYPE html>
<html>
<head>
  <title>Summari.es</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="page" class="layout-grid">
    <header>
      <% if current_user %>
        Hello, <%= current_user.nickname %>! | <%= link_to "Sign out", sessions_path, :method => :delete %>
      <% else %>
        <%= link_to "Sign in or sign up", "/auth/twitter" %>
      <% end %>
    </header>

    <% flash.each do |type, message| %>
      <div class="flash <%= type %>">
        <%= message %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
